<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Google Tasks Daemon</display-name>

    <servlet>
        <servlet-name>ExecutionServlet</servlet-name>
        <servlet-class>org.relgames.gtasksdaemon.ExecutionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExecutionServlet</servlet-name>
        <url-pattern>/execute</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>DaemonServlet</servlet-name>
		<servlet-class>org.relgames.gtasksdaemon.DaemonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DaemonServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

    <context-param>
        <param-name>quartz:config-file</param-name>
        <param-value>quartz.properties</param-value>
    </context-param>
    <context-param>
        <param-name>quartz:shutdown-on-unload</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>quartz:wait-on-shutdown</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>quartz:start-scheduler-on-load</param-name>
        <param-value>true</param-value>
    </context-param>
    <listener>
        <listener-class>
            org.quartz.ee.servlet.QuartzInitializerListener
        </listener-class>
    </listener>

</web-app>